/*  your css code here. If applicable */
header{
	height:80px;
	background-color:#011e29;
	color:white;
	text-align:center;
}
main{
	padding-left:20px;
	padding-right:20px;
}
section{
	border-radius:15px;
	padding:20px;
	background-color:white;
	color:black;
	display:inline-block;
}